<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    
    <%- include("../partials/loggedNav.ejs") %>

    <% if(productos){                           %>
    <% productos.forEach( producto => {      %>
        <p><%= producto.nombre %></p>
    <% })                                %>
    <% }else{                            %>
        <h2>No hay productos en el carrito.</h2>
    <% }                                 %>

    <button id="finalizarCompra">Finalizar la compra</button>

    
    <script src="../../main.js"></script>
</body>
</html>