<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    
    <%- include("../partials/loggedNav.ejs") %>

    <% if(productos.length > 0){                                             %>
        <%  productos.forEach( producto => {                          %>
                <p><%= producto.nombre %></p>
        <%  })                                                       %>
        <button id="finalizarCompra">Finalizar la compra</button>                                                             
    <% }else{                                                     %>      
        <h2>No hay productos en el carrito.</h2>  
    <% }                                                          %>

     
    
    <script src="../../main.js"></script>
</body>
</html>