<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles/style.css">
    <title>Ecommerce - Register</title>
</head>
<body class="main-body">
    <div class='container-main-content'>
        <div class='title-container'>
            <h1 class='title'>Crea tu cuenta para tener acceso a la <span class='span-title'>App</span></h1>
        </div>
        <div class="form-container">
            <%- include("../partials/registerForm.ejs") %>
        </div>    
    </div>
</body>
</html>