<nav class="main-nav">
    <ul>
        <li class="item-nav">
            <a class="anchor-nav" href="/productos/">Productos</a>
        </li>
        <li class="item-nav"><a class="anchor-nav" href="/carrito/session">Carrito</a></li>
        <li class="item-nav"><a class="anchor-nav" href="/info">Info</a></li>
        <li class="item-nav"><a class="anchor-nav" href="/logout/">Cerrar Sesión</a></li>
    </ul>
</nav>