<form class="form" action="/login" method="post">
    <label class="label-form" for="username">Email</label>
    <input class="input-form" name="username" type="text" placeholder="Email" required>

    <label class="label-form" for="password">Contraseña</label>
    <input class="input-form" name="password" type="password" placeholder="Contraseña" required>

    <div class="container-button-form">
        <button class="button-form">Ingresar</button>
    </div>

    <div>
        <p class="p-form">Si no tienes una cuenta.<a class="linked-word" href="/registrar"> Registrate</a> </p>
    </div>
</form>