<form class="form" action="/registrar" method="post">
    <label class="label-form" for="username">Email</label>
    <input class="input-form" name="username" type="text" placeholder="Email" required>

    <label class="label-form" for="password">Contraseña</label>
    <input class="input-form" name="password" type="password" placeholder="Contraseña" required>

    <label class="label-form" for="nombre">Nombre</label>
    <input class="input-form" name="nombre" type="text" placeholder="Nombre" required>

    <label class="label-form" for="direccion">Dirección</label>
    <input class="input-form" name="direccion" type="text" placeholder="Dirección" required>

    <label class="label-form" for="edad">Edad</label>
    <input class="input-form" name="edad" type="number" placeholder="Edad" required>

    <label class="label-form" for="telefono">Telefono</label>
    <input class="input-form" name="telefono" type="text" placeholder="Telefono" required>

    <label class="label-form" for="avatar">Avatar</label>
    <input class="input-form" name="avatar" type="text" placeholder="Url imagen" required>

    <div class="container-button-form">
        <button class="button-form">Registrarse</button>
    </div>

    <div>
        <p class="p-form">Si ya tienes una cuenta,<a class="linked-word" href="/"> Inicia sesión</a> </p>
    </div>
</form>